.header {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.title {
    flex: 1;
}

.numberInput {
    width: 100%;
}

.filterInput {
    max-width: 360px;
    margin-bottom: 16px;
}
